<!DOCTYPE html>
<html>
  <head>
    <title>ExpectoStayLonger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
       <meta property="og:title" content="ExpectoStayLonger" />
     <meta property='og:image' content="<%= image_url('screenshot1.png') %>"/>
     <meta property="og:description"
       content="A fullstack airbnb clone with a harry potter theme"
     />
     <meta property="og:url"
       content="https://expectostaylonger.herokuapp.com/?#/"
     />
    <%= favicon_link_tag asset_path('loader.jpg') %>
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
